[Unit]
Description=GEA's distributed currency daemon
After=network.target

[Service]
User=gea
Group=gea

Type=forking
PIDFile=/var/lib/gead/gead.pid

ExecStart=/usr/bin/gead -daemon -pid=/var/lib/gead/gead.pid \
          -conf=/etc/gea/gea.conf -datadir=/var/lib/gead

ExecStop=-/usr/bin/gea-cli -conf=/etc/gea/gea.conf \
         -datadir=/var/lib/gead stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
